@import url('https://fonts.googleapis.com/css?family=Istok+Web');
/************************************
          GLOBAL STYLE
**********************************/
*{
	user-select: none;
}
body{
	font-family: 'Istok Web', sans-serif;
}
a{
	color: #0c0d17;
	font-size: 15px;
}
a:hover{
	text-decoration: none;
	color: #72dfec;
}
a:active{
	color: #72dfec;
}
p{
	position: absolute;
	font-size: 25px;
	display: inline-table;
	color: #FFF;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
th, td{
	text-align: center
}
th{
	color: #ddbabe;
	border: 3px solid #b3979b;
	background-color: #162f45b3;
	font-size: 18px;
}
td{
	border: 2px solid #648056e6;
	background-color: #526474e6;
	color: #b7b77e;
}
.table > thead > tr > th{
	border-bottom: 3px solid #b3979b

}
/************************************
            LAYOUT STYLE 
*************************************/
#map{
	width: 100%;
	height: 91%;
}


/**********************************
   HEADER I COLLAPS BUTTON - DIV
*********************************/
.header{
	width: 100%;
	height: 45px;
	background-color: #00000061;
	display: none;
}
.btn{
	padding: 13px 15px;
	margin: 7px
	background-color: #00000000;
	position: relative;
	transition: 1s all;
}

.btn:active:focus, .btn:focus {
    outline: 0px;
    
}
.line, .line1, .line2{
	padding: 1.5px 10px;
	position: absolute;
	left: 5px;
	top:5px;
	background-color: #ffffffd4;
	border-radius: 20px;
}
.line1{
	top: 12px;
}
.line2{
	top: 19px;
}
.collapse-btn{
	background-color: #5b5b7acc;
	position: absolute;
	padding: 5px;
	z-index: 1;
	display: none;
	width: 170px;
	height: 447px;
}
.dropdown:hover .dropdown-content {
    display: block; 
}
.dropdown{
	width: 45px;
	height: 43px;
}
.imgDiv{
	width: 100%;
}
.imgDiv:hover .turnOff{
	display: block;
}
.heading{
	background-color: #100f0fa1;
	color: #FFF;
	font-size: 30px;
	text-align: center;
}
.icons{
	width: 15px;
	height: 15px;
	margin-right: 15px;
	display: inline-block;
	cursor: pointer;
}
.ul-one, .ul-two{
	padding: 10px;
}
.ul-two{
	border-top: 1px solid #9a9797;;
	color: #4f3c3c;
}
.ul-two span{
	color: #FFF;
}
.turnOff{
	position: absolute;
	width: 94%;
	height: 147px;
	background-color: #14140dcc;
	top: 3px;
	cursor: pointer;
	display: none;
}
.turnOff a{
	font-size: 25px;
	color: #fff;
	text-align: center;
	margin-top: 35%;
	position: absolute;
	margin-left: 5%;
}
/********************************
   HEADER I COLLAPS BUTTON END
********************************/
.info-holder{
	border: 5px solid #4690a5;
	height: 500px;
	border-radius: 1%;
	background-color: #333333bf;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4caf50a8;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #f4433696;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/**********************************
        SEARCH DIV STYLE
************************************/
.searchDiv{
	width: 100%;
	height: 91%;
	position: relative;
	background-image: url(../img/backgroundSearch.jpg);
	background-position: center;
	background-size: cover;
	display: none;
}
.searchDiv h2{
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translate(-50%,-15%);
	font-weight: bold;
	color: #f0e0e0cc;
	font-size: 27px;
	text-align: center;
}
.searchDiv span{
	position: absolute;
	top: 55%;
	left: 7%;
	transform: translate(-7%, -55%);
	color: #efaeae;
	font-size: 16px;
}
.form-control{
	position: absolute;
	top: 65%;
	width: 90%;
	left: 50%;
	transform: translate(-50%, -65%);
	border-radius: 15px;
	border: 1px solid #000;
}
.form-control:focus{
	border-color: #c83429;
}
input.form-control{
	text-align: center;
	font-size: 16px;
}
.searchbutton{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 65%;
	right: 7%;
	transform: translate(0,-65%);
	cursor: pointer;
}
.flydetalies{
	position: absolute;
	width: 88%;
	height: 147px;
	border: 1px solid white;
	top: 67%;
	left: 6%;
	border-radius: 5px;
	background-color: #ccd2d866;
	color: #333;
	overflow: scroll;
	overflow-x: hidden;
	display: none;
}
.gm-style .gm-style-iw{
	font-weight: 600;
}
.gm-style div div div div div div div{
            _background-color: #211c53 !important;
            padding: 0;
            margin: 0;
            padding: 0;
            top: 0;
            color: #150303;
            
        }

/**********************************
       SEARCH DIV STYLE END
************************************/




/**********************************
       FLIGHT BOARD DIV STYLE 
************************************/
.flightboard{
	width: 100%;
	height: 91%;
	padding: 0;
	position: relative;
	background-color: #16545466;
	overflow: scroll;
	overflow-x: hidden;
	display: none;
}
/**********************************
       FLIGHT BOARD DIV STYLE END
************************************/
/**********************************
       OTHER CITY DIV STYLE 
************************************/
.otherCities{
	border:1px solid black;
	width: 100%;
	height: 445px;
	position: relative;
	display: none;
}

#searchMap{
	width: 100%;
   height: 90%; 
 }
 #description {
    font-size: 15px; 
    font-weight: 300;
   }
#infowindow-content .title {
    font-weight: bold;
  }

#infowindow-content {
    display: none;
 }

#searchMap #infowindow-content {
    display: inline;
  }

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    }

#pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
    }

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
      }

#pac-input {
    background-color: #390e0e99;
    font-size: 15px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 80%;
    left: 52% !important;
    top: 50px !important;
    transform: translate(-52%);
    text-align: center;
    color: #f1e7e7;
    }
 #pac-input::placeholder{
 	color: #fff;
 }
#pac-input:focus {  
   border-color: #4d90fe03;
  }
.infoHolder{
	outline: 2px solid ;
    width: 100%;
    height: 10%;
}
.infoHolder ul{
	text-align: center;
}
.infoHolder li{
	display: inline-block;
	margin-left: 10px;
	padding: 3px;
}
.infoHolder li a{
	display: block;
	font-variant: small-caps;
}
/**********************************
       BoardAll
************************************/
.flightboardAll{
	width: 100%;
	height: 91%;
	padding: 0;
	position: relative;
	background-color: #16545466;
	overflow: scroll;
	overflow-x: hidden;
	display: none;
}

/**********************************
       OTHER CITY DIV STYLE END
************************************/


/**********************************
        SHARE DIV STYLE
************************************/
.shareDiv{
	position: absolute;
	left: 50%;
	bottom: 50%;
	z-index: 1;
	transform: translate(-50%, 50%);
	border: 4px solid #23161699;
	border-radius: 20px;
	background-color: #5f3b2ccc;
	width: 200px;
	display: none;
}
.shareDiv li{
	float: left;
	margin: 10px;
}
.shareDiv li:first-child{
	margin-left: 30px;
}
.shareDiv li a{
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background-position: center;
	background-size: cover;
}
.shareDiv li a:hover{
	opacity: .6;
}
.fb{
	background-image: url(../img/icons/facebook.png);
}
.tw{
	background-image: url(../img/icons/twitter.png);
}
.in{
	background-image: url(../img/icons/instagram.png);
}
.close{
	width: 5px;
	height: 5px;
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 15px;
	opacity: unset;
	color: #000000e6;
}
/**********************************
        SHARE DIV STYLE END
************************************/




/************************************
            SPECIFIC STYLE
*************************************/

@media screen and (min-width: 200px) and (max-width: 450px){
	a{
		font-size: 10px;
	}
	.heading{
		font-size: 22px;
	}
	.collapse-btn{
		width: 125px;
	}
	.ul-one{
		margin-top: 10px;
	}
	.ul-two{
		font-size: 13px;
		margin-top: 20px;
	}
	.icons{
	width: 10px;
	height: 10px;
	margin-right: 10px;
	display: inline-block;
  }
 .info-plane{
 	font-size: 8px;
 }
 .searchDiv h2{
 	font-size: 21px;
 }
 th, td{
 	font-size: 10px;
 }
	
}
@media screen and (min-width: 768px){

}

/**********************************
           HELPER STYLE
**********************************/	
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 2;
}
